include VERSION Makefile README.md README.rst LICENSE *.in *.txt *.py
recursive-include stream *.py
include test/*.py test/*.proto test/*.gam
recursive-exclude test *_pb2.py __pycache__ *.pyc *.pyo .ropeproject
recursive-exclude stream __pycache__ *.pyc *.pyo .ropeproject
